* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --color-light-pink: #EFEFEF;
    --color-pink: #F13C6E;
    --color-black: #000;
    --color-white: #FFF;
    --color-gray: #828282;
}

ul li {
    list-style-type: none;
}

a, a:visited, a:hover {
    text-decoration: none;
}

a:hover, button:hover {
    opacity: 0.8;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.headerNavigation {
    min-height: 50px;
    background-color: var(--color-light-pink);
    padding: 16px;
}

.headerNavigationList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.headerNavigationLink {
    font-size: 14px;
    color: #333;
    padding-left: 30px;
}

.headerNavigationItem:first-child .headerNavigationLink{
    padding-left: 0;
}

.headerNavigationLink:hover {
    opacity: 0.8;
}

.headerMain {
    min-height: 120px;
    background-color: var(--color-white);
    padding: 20px 0;
    border-bottom: 1px solid var(--color-light-pink);
}

.headerMainWrapper {
    display: flex;
    align-items: center;
}

.headerLogo {
    padding-left: 10px;
}

.headerLogoText {
    padding: 20px;
}

.headerLogoLink {
    font-size: 36px;
    font-weight: 700;
    color: var(--color-pink);
}

.headerSearch {
    flex: 1 1 38%;
    text-align: end;
}

.headerSearchInput {
    background-color: var(--color-light-pink);
    border-radius: 40px;
    outline: none;
    padding: 5px 10px 5px 35px;
}

.headerPhone {
    flex: 1 1 19.8%;
    margin: 0 3% 0 1%;
    text-align: end;
}

.headerPhoneLink {
    font-size: 16px;
    color: var(--color-black);
}

.headerCallbackButton {
    flex: 1 1 18.9%;
    margin: 0 10px;
}

.callback  {
    max-width: 170px;
    height: 40px;
    background-color: var(--color-white);
    border: 2px solid var(--color-pink);
    border-radius: 40px;
    font-size: 14px;
    color: var(--color-black);
    cursor: pointer;
}

.banner {
    min-height: 604px;
    background: url("./img/banner.jpg") center center / cover no-repeat;
    padding: 192px 15px;
    background-color: var(--color-gray);
}

.title, .subtitle, .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description {
    -webkit-line-clamp: 10;
}

.bannerTitle {
    max-width: 50%;
    font-size: 48px;
    font-weight: 700;
    color: var(--color-white);
}

.bannerDescription {
    font-size: 14px;
    color: var(--color-white);
    margin-top: 50px;
    max-width: 45%;
}

.bannerButton {
    margin-top: 50px;
}

.buttonInformation {
    width: 100%;
    max-width: 170px;
    min-height: 40px;
    background-color: var(--color-pink);
    border: 2px solid var(--color-white);
    border-radius: 40px;
    font-size: 14px;
    color: var(--color-white);
    cursor: pointer;
    padding: 0 10px;
}