* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --color-light-pink: #EFEFEF;
    --color-pink: #F13C6E;
    --color-black: #000;
    --color-white: #FFF;
    --color-gray: #828282;
    --color-light-black: #333;
    --color-search-icon: #BDBDBD;
}

ul li {
    list-style-type: none;
}

a, a:visited, a:hover {
    text-decoration: none;
}

a:hover, button:hover {
    opacity: 0.8;
}

a:hover, button:hover {
    opacity: 0.8;
}

.title, .subtitle, .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description {
    -webkit-line-clamp: 10;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.headerNavigation {
    min-height: 50px;
    background-color: var(--color-light-pink);
    padding: 16px;
}

.headerNavigationList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.headerNavigationLink {
    font-size: 14px;
    color: var(--color-light-black);
    margin-left: 30px;
}

.headerNavigationItem:first-child .headerNavigationLink{
    margin-left: 0;
}

.headerNavigationLink:hover {
    opacity: 0.8;
}

.headerMain {
    min-height: 120px;
    background-color: var(--color-white);
    padding: 20px 15px;
    border-bottom: 1px solid var(--color-light-pink);
}

.headerMainWrapper {
    display: flex;
    align-items: center;
}

.headerLogoText {
    margin-left: 10px;
}

.headerLogoLink {
    font-size: 36px;
    font-weight: 700;
    color: var(--color-pink);
}

.headerLogoImage {
    display: block;
    min-width: 70px;
    min-height: 70px;
}

.headerSearch {
    flex: 1 1 38%;
    text-align: end;
    margin-left: 5px;
}

.searchLink {
    position: relative;
}

.searchIcon {
    position: absolute;
    top: 1px;
    left: 7px;
    width: 20px;
    height: 20px;
    fill: var(--color-search-icon);
}

.headerSearchInput {
    background-color: var(--color-light-pink);
    border-radius: 40px;
    outline: none;
    padding: 5px 10px 5px 35px;
}

.headerPhone {
    flex: 1 1 20%;
    margin: 0 3% 0 1%;
    text-align: end;
}

.headerPhoneLink {
    font-size: 16px;
    color: var(--color-black);
}

.headerCallbackButton {
    flex: 1 1 18%;
    padding: 0 10px;
}

.callback  {
    max-width: 170px;
    min-height: 40px;
    background-color: var(--color-white);
    border: 2px solid var(--color-pink);
    border-radius: 40px;
    font-size: 14px;
    color: var(--color-black);
    cursor: pointer;
}

.headerCategories {
    min-height: 80px;
    background-color: var(--color-white);
    padding: 30px 15px;
}

.headerCategoriesMenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.headerCategoriesItem {
    margin-left: 40px;
}

.headerCategoriesItem:first-child {
    margin-left: 0;
}

.headerCategoriesLink {
    font-size: 16px;
    color: var(--color-black);
}

.banner {
    min-height: 604px;
    background: url("./img/banner.jpg") center center / cover no-repeat;
    padding: 192px 15px;
    background-color: var(--color-gray);
}

.title, .subtitle, .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description {
    -webkit-line-clamp: 10;
}

.bannerTitle {
    max-width: 50%;
    font-size: 48px;
    font-weight: 700;
    color: var(--color-white);
}

.bannerDescription {
    font-size: 14px;
    color: var(--color-white);
    margin-top: 50px;
    max-width: 45%;
}

.bannerButton {
    margin-top: 50px;
}

.buttonInformation {
    width: 100%;
    max-width: 170px;
    min-height: 40px;
    background-color: var(--color-pink);
    border: 2px solid var(--color-white);
    border-radius: 40px;
    font-size: 14px;
    color: var(--color-white);
    cursor: pointer;
    padding: 0 10px;
}

.offers {
    min-height: 610px;
    background-color: var(--color-light-pink);
    padding: 80px 15px 100px;
}

.offersTitle {
    max-width: 60%;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-black);
}

.offersWrapper {
    display: grid;
    grid-template: 363px / 255px 255px 255px 255px;
    gap: 30px;
    margin-top: 38px;
}

.offersItem {
    padding: 25px;
    text-align: center;
    background-color: var(--color-white)
}

.offersImage {
    min-width: 125px;
    min-height: 170px;
}

.offersDescription {
    font-size: 14px;
    color: var(--color-light-black);
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.offersPrice {
    font-size: 21px;
    color: var(--color-black);
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.offersButtonBuy {
    width: 100%;
    max-width: 130px;
    min-height: 35px;
    background-color: var(--color-pink);
    border-radius: 30px;
    font-size: 14px;
    color: var(--color-white);
    margin-top: 20px;
    padding: 0 10px;
    cursor: pointer;
}

.subscription {
    min-height: 212px;
    background-color: var(--color-light-pink);
    padding: 0 15px;
}

.subscriptionWrapper {
    display: grid;
    grid-template: minmax(212px, 110%) / 1fr 1fr;
    gap: 30px;
}

.subscriptionBlock {
    position: relative;
    background-color: var(--color-pink);
    padding: 35px 45px 35px 40px;
}

.subscriptionTitle {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-white);
}

.subscriptionDescription {
    font-size: 14px;
    color: var(--color-white);
    margin-top: 25px;
    max-width: 231px;
}

.subscriptionEmail {
    width: 100%;
    max-width: 225px;
    height: 35px;
    background-color: var(--color-white);
    border-radius: 30px;
    margin-top: 25px;
    color: #C4C4C4;
    outline: none;
    padding: 0 25px;
}

.subscriptionButton {
    margin-top: 25px;
}

.buttonInformation {
    width: 100%;
    max-width: 170px;
    min-height: 40px;
    background-color: var(--color-pink);
    border: 2px solid var(--color-white);
    border-radius: 40px;
    font-size: 14px;
    color: var(--color-white);
    cursor: pointer;
    padding: 0 10px;
}

.subscriptionImageDelivery {
    position: absolute;
    left: 55%;
    top: 25%;
    width: 189px;
    height: 100px;
    fill: var(--color-white);
    fill-opacity: 0.4;
}

.subscriptionImageEnvelope {
    position: absolute;
    left: 65%;
    top: 25%;
    width: 140px;
    height: 108px;
    fill: var(--color-white);
    fill-opacity: 0.4;
}

.brands {
    min-height: 497px;
    background-color: var(--color-light-pink);
    padding: 100px 15px 80px;
}

.brandsWrapper {
    display: grid;
    grid-template: 120px 120px 120px / 1fr 1fr 1fr 1fr;
    gap: 1px;
}

.brandsBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    padding: 5px;
}

.offers {
    min-height: 610px;
    background-color: var(--color-light-pink);
    padding: 80px 15px 100px;
}

.offersTitle {
    max-width: 60%;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-black);
}

.offersWrapper {
    display: grid;
    grid-template: 363px / 255px 255px 255px 255px;
    gap: 30px;
    margin-top: 38px;
}

.offersItem {
    padding: 25px;
    text-align: center;
    background-color: var(--color-white)
}

.offersImage {
    min-width: 125px;
    min-height: 170px;
}

.offersDescription {
    font-size: 14px;
    color: var(--color-light-black);
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.offersPrice {
    font-size: 21px;
    color: var(--color-black);
    margin-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.offersButtonBuy {
    width: 100%;
    max-width: 130px;
    min-height: 35px;
    background-color: var(--color-pink);
    border-radius: 30px;
    font-size: 14px;
    color: var(--color-white);
    margin-top: 20px;
    padding: 0 10px;
    cursor: pointer;
}